{% extends 'Instructeur/base.html.instructeur.twig' %}
{%  block title %}{{ name }}{%  endblock %}
    {% block active1 %}active
    {%  endblock %}
{% block dataTableScript %}
<script>
    $(document).ready( function () {
        $('#myTable').DataTable( {
            scrollY: 600,
            "info": false,
            scrollCollapse: true,
            "paging": false,
            "oLanguage": {
                "sSearch": "Filter"
            },
            "columnDefs": [
                { "orderable": false, "targets": 4 }
            ]
        } );
    } );
</script>
{%  endblock %}
{% block content %}
    <h1>Lessenlijst</h1>
    <table class="table table-hover" id="myTable">
        <thead>
        <tr>
            <th>Type<i class="fas fa-sort"></th>
            <th>Locatie<i class="fas fa-sort"></th>
            <th>Instructeur<i class="fas fa-sort"></th>
            <th>Tijd<i class="fas fa-sort"></th>
            <th>Datum<i class="fas fa-sort"></th>
            <th>Edit</th>
        </tr>
        </thead>
        {% for les in inslessen %}
            <tr style="background-color: yellow">
                <td>{{ les.training.naam }}</td>
                <td>{{ les.locatie }}</td>
                <td>jij</td>
                <td>{{ les.tijd|date("H:i") }}</td>
                <td>{{ les.datum|date("d-m-Y") }}</td>
                <td>
                    <a href="{{ path('lesdetails')}}/{{ les.id }}"><i style="color: blue" class="fas fa-info"></i></a>
                    <a href="{{ path('lesedit') }}/{{ les.id }}"><i style="color: green;margin-left: 4px" class="fas fa-edit"></i></a>
                    <a href="{{ path('lesdelete', {'id' : les.id})}}"><i style="color: red;margin-left: 4px" class="fas fa-trash-alt"></i></a></td>
            </tr>
        {% endfor %}
        {% for les in insnlessen %}
            <tr>
                <td>{{ les.training.naam }}</td>
                <td>{{ les.locatie }}</td>
                <td>{{ les.user.naam }}</td>
                <td>{{ les.tijd|date("H:i") }}</td>
                <td>{{ les.datum|date("d-m-Y") }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
