{% extends 'base.html.inside.twig' %}
{%  block title %}{{ name }}{%  endblock %}
    {% block active1 %}active
    {%  endblock %}
{% block dataTableScript %}
<script>
    $(document).ready( function () {
        $('#myTable').DataTable( {
            scrollY: 600,
            "info": false,
            scrollCollapse: true,
            "paging": false,
            "oLanguage": {
                "sSearch": "Filter"
            },
            "columnDefs": [
                { "orderable": false, "targets": 4 }
            ]
        } );
    } );
</script>
{%  endblock %}
{% block content %}
    <h1>Lessenlijst</h1>
    <table class="table table-hover" id="myTable">
        <thead>
        <tr>
            <th>Lestype<i class="fas fa-sort"></th>
            <th>Locatie<i class="fas fa-sort"></th>
            <th>Trainer<i class="fas fa-sort"></th>
            <th>Tijd<i class="fas fa-sort"></th>
            <th>Datum<i class="fas fa-sort"></th>
            <th>Aanmelden</th>
        </tr>
        </thead>
        {% for les in lessen %}
        <tr>
            <td>{{ les.training.naam }}</td>
            <td>{{ les.locatie }}</td>
            <td>{{ les.user.naam }}</td>
            <td>{{ les.tijd }}</td>
            <td>{{ les.datum }}</td>
            <td><a href="{{ path('lessenlijst') }}/{{ les.id }}"><i style="color: blue" class="fas fa-arrow-right"></i></a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
