{% extends 'base.html.twig' %}
{%  block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/3.2.1/bootstrap.min.css')}}">
    <script src="{{ asset('js/jquery.min.js')}}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/all.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('DataTables/datatables.min.css') }}"/>
    <script type="text/javascript" src="{{ asset('DataTables/datatables.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/style.css')}}">
{%  endblock %}
{% block body %}
{% block menu %}
    <div class="list-group">
        <span><img width="300px" src="{{ asset('Images/Logo.jpg') }}" class="mx-auto d-block"></span>
        <a href="{{ path('lessenlijst') }}" class="list-group-item {% block active1 %}{% endblock %}"><i class="far fa-address-card"></i><span> Lessenlijst</span></a>
        <a  class="list-group-item {% block active2 %}{% endblock %}"><i class="fas fa-user-md"></i><span> </span></a>
        <a  class="list-group-item {% block active3 %}{% endblock %}"><i class="fas fa-pills "></i><span> </span></a>
        <a href="{{ path('logout') }}" class="list-group-item"><i class="fas fa-sign-out-alt"></i><span> Uitloggen</span></a>
        <div class="jumbotron">
            <p class="text-center">Gebruiker:</p>
            <p class="text-center"> {{ gebruiker.username }}</p>
        </div>
    </div>
{% endblock %}
    {% block dataTableScript %}
    {% endblock %}
    <div class="col-sm-9">
{% block content %}
{% endblock %}
    </div>
{% endblock %}