{% extends 'base.html.navbar.twig' %}

{%  block title %}{{ name }}{%  endblock %}
    {%  block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
        <script src="{{ asset('js/jquery.js')}}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('css/style.css') }}"></script>
    {%  endblock %}
{% block content %}
<div class="container border" style="margin-top:30px">
    <div class="col"></div>
    <div class="col-5"></div>
    <div class="col"></div>
    </div>

</div>
{%  endblock %}
