{% extends 'base.html.inside.twig' %}
{%  block title %}{{ name }}{%  endblock %}
    {% block active2 %}active
    {%  endblock %}
{% block dataTableScript %}
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable( {
                scrollY: 600,
                "info": false,
                scrollCollapse: true,
                "paging": false,
                "oLanguage": {
                    "sSearch": "Filter"
                },
                "columnDefs": [
                    { "orderable": false, "targets": 4 }
                ]
            } );
        } );
    </script>
{%  endblock %}
{% block content %}
    <h1>Artsenlijst</h1>
    <table class="table  table-hover" id="myTable">
        <thead>
        <tr>
            <th>Voornaam<i class="fas fa-sort"></i></th>
            <th>T.v.<i class="fas fa-sort"></i></th>
            <th>Achternaam<i class="fas fa-sort"></i></th>
            <th>Specialisatie<i class="fas fa-sort"></i></th>
            <th>Edit</th>
        </tr>
        </thead>
        {% for arts in artsen %}
            <tr>
                <td>{{ arts.voornaam }}</td>
                <td>{{ arts.tussenvoegsel }}</td>
                <td>{{ arts.achternaam }}</td>
                <td>{{ arts.specialisatie }}</td>
                <td><a href=Patientdetails.php?ID={{ arts.id }} style='color: blue'><i class="fas fa-info"></i></a><a href=Patientbewerk.php?ID={{ arts.id }} style='color: green; margin-left: 3px'><i class="fas fa-edit"></i></a><a href='Patientenlijst.php?ID={{ arts.id }}' style='color: red; margin-left: 4px'><i class="fas fa-ban"></i></a></td>
            </tr>
        {% endfor %}
        <tbody>
        </tbody>
    </table>
{% endblock %}
