{% extends 'base.html.navbar.twig' %}

{%  block title %}{{ name }}{%  endblock %}
    {%  block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
        <script src="{{ asset('js/jquery.js')}}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('css/style.css') }}"></script>
    {%  endblock %}
{% block content %}
<div class="container border" style="margin-top:30px">
    <div class="col-sm">
        <h1 class="text-center">Contactgegevens:</h1>
        <div class="row">
            <div class="col-3">
                <h5 class="mb-3">Straat:</h5>
                <h5 class="mb-3">Postcode:</h5>
                <h5 class="mb-3">Telefoonnummer:</h5>
                <h5>E-mailadres:</h5>
            </div>
            <div class="col-5">
                <p>Verzinselkade 13</p>
                <p>2300 AK Leiden</p>
                <p>071 1547391</p>
                <p>Waaromleesjedit@trainingfactory.com</p>
            </div>
        </div>
    </div>

</div>
{%  endblock %}
