{% extends 'base.html.inside.twig' %}
{%  block title %}{{ name }}{%  endblock %}
    {% block active3 %}active
    {%  endblock %}
{% block dataTableScript %}
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable( {
                scrollY: 600,
                "info": false,
                scrollCollapse: true,
                "paging": false,
                "oLanguage": {
                    "sSearch": "Filter"
                },
                "columnDefs": [
                    { "orderable": false, "targets": 3 }
                ]
            } );
        } );
    </script>
{%  endblock %}
{% block content %}
        <h1>Medicijnenlijst</h1>
        <table class="table table-hover" id="myTable">
            <thead>
            <tr>
                <th>Naam<i class="fas fa-sort"></i></th>
                <th>Beschrijving<i class="fas fa-sort"></i></th>
                <th>Bijwerkingen<i class="fas fa-sort"></i></th>
                <th>Bewerk</th>
            </tr>
            </thead>
            {% for medicijn in medicijnen %}
                <tr>
                    <td>{{ medicijn.medicijnnaam }}</td>
                    <td>{{ medicijn.beschrijving }}</td>
                    <td>{{ medicijn.bijwerkingen }}</td>
                    <td><a href=Medicijndetails.php?ID={{ medicijn.id }} style='color: blue'><i class="fas fa-info"></i></a><a href=medicijnenedit/{{ medicijn.id }} style='color: green; margin-left: 3px'><i class="fas fa-edit"></i></a><a href='medicijndelete/{{ medicijn.id }}' style='color: red; margin-left: 4px'><i class="fas fa-ban"></i></a></td>
                </tr>
            {% endfor %}
        </table>
        <a href="Medicijnform"><button class="btn-success" style="margin-top: 4px"><i class="fas fa-plus"></i> Nieuw medicijn</button></a>
    </div>
{% endblock %}
